<div class="top-row navStyle">
    <div class="px-3 d-flex justify-content-center align-items-center gap-3">
        <i class="@ToggleSidebarIconClass" @onclick="OnToggleSidebar" title="@ToggleSidebarTooltipText"></i>
        <a href=""><i class="bi bi-house-fill" title="Home"></i></a>
    </div>
    <div class="px-3 d-flex justify-content-center align-items-center gap-3">
        <i class="@ToggleContentIconClass" @onclick="OnChangeContent" title="@ToggleContentTooltipText"></i>
        @* <a href="themes" title="Themes"><i class="bi bi-palette"></i></a> *@
        @* <_LanguageSwitcher /> *@
        <AuthorizeView>
            <Authorized>
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div>
                        <span type="button" data-bs-toggle="dropdown">
                            <img class="rounded-circle"
                                 src="@(string.IsNullOrEmpty(App?.CurrentUser?.AvatarUrl) ? Placeholder.AvatarUrl : App?.CurrentUser?.AvatarUrl)" style="width: 1.5rem;"
                                 title="Account">
                        </span>

                        <ul class="mt-2 dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="Account/Manage">Account</a></li>
                            <li><a class="dropdown-item" href="themes">Themes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <form action="Account/Logout" method="post" class="d-flex justify-content-end">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="" />
                                    <button type="submit" class="ms-2 logout-button">
                                        <i class="bi bi-box-arrow-right me-1"></i>Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>


@code {
    string ToggleSidebarIconClass => SidebarShow ? "bi bi-chevron-left" : "bi bi-list";
    string ToggleSidebarTooltipText => SidebarShow ? "Hide Sidebar" : "Show Sidebar";
    //string ToggleContentIconClass => App!.IsExpanded ? "bi bi-distribute-horizontal" : "bi bi-distribute-vertical";
    string ToggleContentIconClass => App!.IsExpanded ? "bi bi-fullscreen-exit" : "bi bi-fullscreen";
    string ToggleContentTooltipText => App!.IsExpanded ? "Switch to Container" : "Switch to Wide";

    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public bool SidebarShow { get; set; }

    [Parameter] public EventCallback OnToggleSidebar { get; set; }

    [Parameter] public EventCallback OnChangeContent { get; set; }
}