<!-- Search Card Item Component -->

<div class="card mb-3" style="background-color: rgba(var(--bs-black-rgb), 0.1);">
    <div class="row g-0">
        <div class="col-md-2">
            @{
                string ImageUrl = $"http://image.tmdb.org/t/p/w500{Movie.PosterPath}";
            }
            <a href="movie/@Movie.Id">
                <img src="@ImageUrl" class="img-fluid rounded-start" alt="cover">
            </a>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <a href="movie/@Movie.Id" class="text-decoration-none"><h4 class="fw-bold">@Movie.Title</h4></a>
                <div class="hstack gap-2">
                    @{
                        bool dateParsed = DateTime.TryParse(Movie.ReleaseDate, out DateTime releaseDate);
                    }
                    @if (dateParsed)
                    {
                        <p class="card-text"><small class="text-body-secondary">@releaseDate.ToString("dd. MMMM, yyyy.") | Tmdb: @Movie.Id</small></p>
                    }
                </div>
                <p>Score: @((Movie.VoteAverage * 10).ToString("F2"))%</p>
                <h5 class="lead fw-bold pt-3 mt-3">Overview</h5>
                <p>@Movie.Overview</p>
            </div>
        </div>
    </div>
</div>


@code
{
    [Parameter] public TmdbSearch Movie { get; set; } = new();
}