@inject ApplicationDbContext Context
@inject ITmdbService TmdbService

<div class="quickgrid-wrapper table-responsive">
    <QuickGrid Items="FilteredEntities" Class="p-sm table table-hover align-middle" Pagination="PaginationState">

        <div class="p-2 d-flex justify-content-between align-items-center">
            <h4 class="p-0 m-0 ms-2">@EntityName</h4>
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-search"></i>
                <input type="search" class="ms-2 form-control form-control-sm" autofocus @bind="Search" @bind:event="oninput" placeholder=" search .." />
            </div>
            <div class="me-2 d-inline-flex align-items-center" stile="width: 5rem;">
                <label class="me-2 small text-muted">Items:</label>
                <select class="form-select form-select-sm" @bind="PaginationState.ItemsPerPage">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    @* @foreach (var value in Enum.GetValues<ItemsPerPage>())
                                {
                                    <option value="@((int)value)">@value</option>
                                    <!-- Ili @(value.GetDisplayName()) ako koristite [Display] -->
                                } *@
                </select>
            </div>
        </div>

        @*<PropertyColumn Property="@(x => x.Title)" Sortable="true" Class="">
                        <ColumnOptions>
                            <div class="search-box">
                                <input type="search" autofocus @bind="Search" @bind:event="oninput" placeholder="name.." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn> *@

        <TemplateColumn Title="Title" Align="Align.Start" SortBy="@titleSort">
            @*<a class="me-2" href="admin/movie/@Uri.EscapeDataString(context.Title)/@(context.Year)">@context.Title</a>*@
            <span class="ms-4" style="cursor: pointer;" @onclick="() => PlayInVlc(context.Title, context.FileName)">
                <i class="bi bi-play-circle-fill"></i>
            </span>
            <span class="ms-3 @((context.IsMetadataFetched) ? "text-primary" : "text-muted")" style="cursor: pointer;" @onclick="() => OnTmdbSearch.InvokeAsync((context.TmdbId, context.Title, context.Year))">
                @(string.IsNullOrEmpty(context.TmdbTitle) ? context.Title : context.TmdbTitle)
            </span>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Version" Title="Version" Align="Align.Center" Sortable="true" />
        <PropertyColumn Property="x => x.Year" Title="Year" Align="Align.Center" Sortable="true" />
        <PropertyColumn Property="x => x.TmdbId" Title="TmdbId" Align="Align.Center" Sortable="true" />

        @if (App!.IsExpanded)
        {
            <PropertyColumn Property="x => x.Color" Title="Color" Align="Align.Center" Sortable="true" />
            <PropertyColumn Property="x => x.Resolution" Title="Resolution" Align="Align.Center" Sortable="true" />
            <PropertyColumn Property="x => x.Source" Title="Source" Align="Align.Center" Sortable="true" />
            <PropertyColumn Property="x => x.Audio" Title="Audio" Align="Align.Center" Sortable="true" />
            <PropertyColumn Property="x => x.Video" Title="Video" Align="Align.Center" Sortable="true" />
        }

        <PropertyColumn Property="x => x.Release" Title="Release" Align="Align.Center" Sortable="true" />
        <TemplateColumn Title="Meta" Align="Align.Center" SortBy="@metadataSort">
            <div class="d-flex justify-content-center" style="width: 2rem;">
                @if (context.IsMetadataFetched)
                {
                    <i class="fas fa-check-circle fa-lg text-success" title="Metadata fetched"></i>
                }
                else
                {
                    <i class="fas fa-times-circle fa-lg text-danger" title="Metadata missing"></i>
                }
            </div>
        </TemplateColumn>

        @if (App!.IsExpanded)
        {
            <PropertyColumn Property="x => x.ImdbId" Title="ImdbId" Align="Align.Center" Sortable="true" />
        }

        <PropertyColumn Property="@(x => x.FileCreatedUtc)" Title="Created" Align="Align.Center" Sortable="true" />

        <TemplateColumn Title="Actions" Align="Align.Center">
            <ChildContent>
                @if (EntityName == "Scan")
                {
                    <span class="ms-1 text-primary" @onclick="() => AddToDb(context)" title="Add To Database"><i class="bi bi-plus-circle"></i></span>
                }
                @* <a class="text-white" href="admin/movie/@context.Id" data-toggle="tooltip" title="Edit"><i class="bi bi-pencil-square"></i></a>
                <span class="ms-1 text-primary" @onclick="() => PopulateFromTmdb(context.Id)" title="Populate"><i class="bi bi-cloud-download"></i></span>
                <span class="ms-2 text-danger" @onclick="() => ShowDelete(context)" title="Remove"><i class="bi bi-trash"></i></span> *@
            </ChildContent>
        </TemplateColumn>
    </QuickGrid>
    <div class="quickgrid-pagination">
        <Paginator State="PaginationState" />
    </div>
</div>

@code {
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public IQueryable<Movie>? Entities { get; set; }
    [Parameter] public string? EntityName { get; set; }

    [Parameter] public EventCallback<(int?, string, int?)> OnTmdbSearch { get; set; }
    [Parameter] public EventCallback OnLoadEntities { get; set; }
    [Parameter] public EventCallback<Movie> OnEdit { get; set; }

    string? Search;

    IQueryable<Movie> FilteredEntities
    {
        get
        {
            if (Entities is null) return Enumerable.Empty<Movie>().AsQueryable();
            if (string.IsNullOrWhiteSpace(Search)) return Entities.AsQueryable();
            else return Entities.Where(x => x.Title.Contains(Search, StringComparison.OrdinalIgnoreCase)).AsQueryable();
        }
    }

    GridSort<Movie> titleSort = GridSort<Movie>.ByAscending(x => x.SortTitle);
    GridSort<Movie> metadataSort = GridSort<Movie>.ByAscending(x => x.IsMetadataFetched);
    PaginationState? _paginationState;
    PaginationState PaginationState => _paginationState ??= new PaginationState { ItemsPerPage = EntityName == "Scan" ? 10 : 25 };




    async Task AddToDb(Movie input)
    {
        try
        {
            Context.Movies.Add(input);
            await Context.SaveChangesAsync();

            await App!.ShowToast($"{input.Title} added to database!", "success");
            await OnLoadEntities.InvokeAsync();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to add {input.Title} to database: {ex.Message}", "error");
        }
    }




    async Task PlayInVlc(string? name, string? filename)
    {
        await App!.ShowToast($"Playing  {name} !", "success");

        if (string.IsNullOrEmpty(filename)) return;

        try
        {
            string mediaPath = Path.Combine(Globals.X265Path, filename);

            if (!File.Exists(mediaPath))
            {
                await App!.ShowToast($"File not found: {mediaPath}", "error");
                return;
            }

            var processInfo = new ProcessStartInfo
            {
                FileName = Globals.VlcPath,
                Arguments = $"\"{mediaPath}\"",
                UseShellExecute = false,
                CreateNoWindow = true
            };

            Process.Start(processInfo);
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Error starting VLC with file: {filename}", "error");
        }
    }




    #region ---> DELETE
    void Delete(Movie input)
    {
        @* var title = string.Join(" ", new[] { user.FirstName, user.LastName }.Where(name => !string.IsNullOrWhiteSpace(name))).Trim();
        if (string.IsNullOrEmpty(title)) title = user.Email ?? "this user"; *@

        App?.ShowDeleteConfirmation(input.Title, input.Id.ToString(), EventCallback.Factory.Create(this, () => ConfirmDelete(input)));
    }

    async Task ConfirmDelete(Movie input)
    {
        try
        {
            var entity = Context.Movies.Find(input.Id);
            if (entity is null)
            {
                await App!.ShowToast($"{EntityName} not found!", "error");
                return;
            }

            Context.Movies.Remove(entity);
            await Context.SaveChangesAsync();
            await App!.ShowToast($"{EntityName} deleted successfully!", "success");
            await OnLoadEntities.InvokeAsync();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to delete {EntityName}: {ex.Message}", "error");
        }
    }
    #endregion

}
