@page "/admin/movies"
@attribute [Authorize(Roles = "Admin")]

@inject IMovieRepository Repository
@inject IMovieService Service
@inject ITmdbService TmdbService

<title>@Title</title>

<_PageHeader Title="@Title" />

@if (IsProcessing || Entities is null)
{
    @if (Entities is null)
    {
        <div class="mb-5 @App?.GetContentClass() d-flex justify-content-center align-content-center">
            <button type="button" class="btn btn-primary rounded-pill btn-sm" @onclick="ScanNew">Scan New</button>
        </div>
    }
    <_Loading />
}
else
{
    <div class="mb-5 @App?.GetContentClass()">

        @if (SearchTmdb is not null)
        {
            <div class="mt-5 row align-items-center">
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-primary rounded-pill btn-sm" @onclick="ScanNew">Scan New</button>
                    <button type="button" class="btn btn-primary rounded-pill btn-sm" @onclick="PopulateFromTmdb">Populate From Tmdb</button>
                </div>

                <div class="col-12 col-md-6">
                    <EditForm Enhance Model=@SearchTmdb OnValidSubmit=@HandleValidSubmit>
                        <div class="input-group">
                            <InputText class="form-control" @bind-Value="SearchTmdb" placeholder=" search tmdb.." required />
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        }

        @if (TmdbSearch is null && TmdbDetails is null)
        {
            <div class="mt-2 table-responsive border rounded">
                <QuickGrid Items="FilteredEntities" Class="p-sm table table-hover align-middle" Pagination="PaginationState">

                    <div class="p-2 d-flex justify-content-between align-items-center">
                        <h4 class="p-0 m-0 ms-2">@Title</h4>

                        <div class="d-inline-flex align-items-center">
                            <i class="bi bi-search"></i>
                            <input type="search" class="ms-2 form-control form-control-sm" autofocus @bind="Search" @bind:event="oninput" placeholder=" search.." />
                        </div>
                        <div class="me-2 d-inline-flex align-items-center" stile="width: 5rem;">
                            <label class="me-2 small text-muted">Items:</label>
                            <select class="form-select form-select-sm" @bind="PaginationState.ItemsPerPage">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                @* @foreach (var value in Enum.GetValues<ItemsPerPage>())
                                {
                                    <option value="@((int)value)">@value</option>
                                    <!-- Ili @(value.GetDisplayName()) ako koristite [Display] -->
                                } *@
                            </select>
                        </div>
                    </div>

                    @*<PropertyColumn Property="@(x => x.Title)" Sortable="true" Class="">
                        <ColumnOptions>
                            <div class="search-box">
                                <input type="search" autofocus @bind="Search" @bind:event="oninput" placeholder="name.." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn> *@

                    <TemplateColumn Title="Title" Align="Align.Start">
                        @*<a class="me-2" href="admin/movie/@Uri.EscapeDataString(context.Title)/@(context.Year)">@context.Title</a>*@
                        <span class="ms-4" style="cursor: pointer;"
                              @onclick="() => PlayInVlc(context.Title, context.FileName)"><i class="bi bi-play-circle-fill"></i></span>

                        <a class="ms-3 text-decoration-none text-white" style="cursor: pointer;"
                           @onclick="() => HandleSearch(context.TmdbId, context.Title, context.Year)">@context.Title</a>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.Year" Title="Year" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.Version" Title="Version" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.TmdbId" Title="TmdbId" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.Resolution" Title="Resolution" Align="Align.Center" Sortable="true" />

                    @if (App!.IsExpanded)
                    {
                        <PropertyColumn Property="x => x.Color" Title="Color" Align="Align.Center" Sortable="true" />
                    }

                    <PropertyColumn Property="x => x.Source" Title="Source" Align="Align.Center" Sortable="true" />

                    @if (App!.IsExpanded)
                    {
                        <PropertyColumn Property="x => x.Audio" Title="Audio" Align="Align.Center" Sortable="true" />
                        <PropertyColumn Property="x => x.Video" Title="Video" Align="Align.Center" Sortable="true" />
                    }

                    <PropertyColumn Property="x => x.Release" Title="Release" Align="Align.Center" Sortable="true" />

                    @if (App!.IsExpanded)
                    {
                        <PropertyColumn Property="x => x.TmdbTitle" Title="TmdbTitle" Align="Align.Center" Sortable="true" />
                        <PropertyColumn Property="x => x.TmdbImageUrl" Title="TmdbImageUrl" Align="Align.Center" Sortable="true" />
                        <PropertyColumn Property="x => x.ImdbId" Title="ImdbId" Align="Align.Center" Sortable="true" />
                    }

                    <TemplateColumn Title="IsMetadata" Align="Align.Center">
                        <div class="d-flex justify-content-center">
                            <input class="form-check form-check-input text-warning" type="checkbox" checked="@context.IsMetadataFetched">
                        </div>
                    </TemplateColumn>

                    <TemplateColumn Title="Actions" Align="Align.Center">
                        <ChildContent>
                            <a class="text-primary" @onclick="() => PopulateFromTmdb(context.Id)" title="Populate"><i class="bi bi-cloud-download"></i></a>
                            <a class="text-danger" @onclick="() => ShowDelete(context)" title="Remove"><i class="bi bi-trash"></i></a>
                        </ChildContent>
                    </TemplateColumn>
                </QuickGrid>
                <div class="quickgrid-pagination">
                    <Paginator State="PaginationState" />
                </div>
            </div>
        }

        @if (TmdbSearch is not null)
        {
            <div class="">
                <div class="m-3 d-flex justify-content-start align-items-center">
                    <button type="button" class="btn-close me-2" @onclick="() => TmdbSearch = null"></button>Close Search
                </div>

                @foreach (var movie in TmdbSearch.Results)
                {
                    <_SearchCardItem Movie="movie" />
                }
            </div>
        }

        @if (TmdbDetails is not null)
        {
            <div class="">
                <div class="m-3 d-flex justify-content-start align-items-center">
                    <button type="button" class="btn-close me-2" @onclick="() => TmdbDetails = null"></button>Close Details
                </div>

                <_Details Movie="TmdbDetails" />

            </div>
        }
    </div>
}

@code {
    [CascadingParameter] AppState? App { get; set; }

    List<MovieDto>? Entities;
    string? Search;

    string SearchTmdb = string.Empty;
    TmdbSearchList? TmdbSearch;
    TmdbDetails? TmdbDetails;

    const string Title = "Movies";
    bool IsProcessing { get; set; } = true;

    readonly PaginationState PaginationState = new PaginationState { ItemsPerPage = 25 };



    protected override async Task OnInitializedAsync() => await RefreshEntitiesAsync();


    async Task RefreshEntitiesAsync()
    {
        var result = await Repository.GetAllAsync();
        if (!result.Success || result.Data is null) return;

        Entities = result.Data;
        IsProcessing = false;
        StateHasChanged();
    }

    IQueryable<MovieDto> FilteredEntities
    {
        get
        {
            if (string.IsNullOrWhiteSpace(Search)) return Entities.AsQueryable();
            else return Entities.Where(x => x.Title.Contains(Search, StringComparison.OrdinalIgnoreCase)).AsQueryable();
        }
    }

    async Task HandleValidSubmit()
    {
        ArgumentNullException.ThrowIfNull(SearchTmdb);

        TmdbSearch = await TmdbService.SearchMoviesAsync(SearchTmdb);

        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task HandleSearch(int? tmdbId, string search, int? year)
    {
        if (tmdbId.HasValue) TmdbDetails = await TmdbService.GetMovieByIdAsync(tmdbId.Value);
        else TmdbSearch = await TmdbService.SearchMoviesAsync(search, year.ToString());

        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task PlayInVlc(string? name, string? filename)
    {
        await App!.ShowToast($"Playing  {name} !", "success");

        if (string.IsNullOrEmpty(filename)) return;

        try
        {
            string mediaPath = Path.Combine(Globals.X265Path, filename);

            if (!File.Exists(mediaPath))
            {
                await App!.ShowToast($"File not found: {mediaPath}", "error");
                return;
            }

            var processInfo = new ProcessStartInfo
            {
                FileName = Globals.VlcPath,
                Arguments = $"\"{mediaPath}\"",
                UseShellExecute = false,
                CreateNoWindow = true
            };

            Process.Start(processInfo);
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Error starting VLC with file: {filename}", "error");
        }
    }

    async Task ScanNew()
    {
        await App!.ShowToast($"Scan For New Movies!", "success");
        await Repository.SyncParsedMoviesAsync();
        await RefreshEntitiesAsync();
        await App!.ShowToast($"Scan Finish and Add in Database!", "success");
    }

    async Task PopulateFromTmdb()
    {
        await App!.ShowToast($"Start Populate From Tmdb!", "success");
        await Repository.PopulateFromTmdbAsync();
        await RefreshEntitiesAsync();
        await App!.ShowToast($"Finish and Add Details in Database!", "success");
    }

    async Task PopulateFromTmdb(Guid id)
    {
        await App!.ShowToast($"Start Populate From Tmdb!", "success");
        await Repository.PopulateFromTmdbByIdAsync(id);
        await RefreshEntitiesAsync();
        await App!.ShowToast($"Finish and Add Details in Database!", "success");
    }

    #region ---> DELETE
    void ShowDelete(MovieDto input)
    {
        App?.ShowDeleteConfirmation(input.Title, input.Id.ToString(), EventCallback.Factory.Create(this, () => ConfirmDelete(input.Id)));
    }

    async Task ConfirmDelete(Guid id)
    {
        var result = await Repository.DeleteAsync(id);
        if (result.Success) await RefreshEntitiesAsync();

        await App!.ShowToast(result.Message, result.Success ? "success" : "error");
    }
    #endregion
}
