@page "/admin/movies"
@attribute [Authorize(Roles = "Admin")]

@inject IMovieService Service
@inject ITmdbService TmdbService

<title>@Title</title>

<_PageHeader Title="@Title" />

@if (IsProcessing || Entities is null)
{
    <_Loading />
}
else
{
    <div class="mb-5 @App?.GetContentClass()">

        @if (SearchTmdb is not null)
        {
            <EditForm Enhance Model=@SearchTmdb OnValidSubmit=@HandleValidSubmit>
                <div class="mt-5 row justify-content-end">
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <InputText class="form-control" @bind-Value="SearchTmdb" placeholder=" search tmdb.." required />
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        }

        @if (TmdbSearch is null && TmdbDetails is null)
        {
            <div class="mt-2 table-responsive border rounded">
                <QuickGrid Items="FilteredEntities" Class="p-sm table table-hover align-middle" Pagination="PaginationState">

                    <div class="p-2 d-flex justify-content-between align-items-center">
                        <h4 class="p-0 m-0 ms-2">@Title</h4>

                        <div class="d-inline-flex align-items-center">
                            <i class="bi bi-search"></i>
                            <input type="search" class="ms-2 form-control form-control-sm" autofocus @bind="Search" @bind:event="oninput" placeholder=" search.." />
                        </div>
                        <div class="me-2 d-inline-flex align-items-center" stile="width: 5rem;">
                            <label class="me-2 small text-muted">Items:</label>
                            <select class="form-select form-select-sm" @bind="PaginationState.ItemsPerPage">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                @* @foreach (var value in Enum.GetValues<ItemsPerPage>())
                                {
                                    <option value="@((int)value)">@value</option>
                                    <!-- Ili @(value.GetDisplayName()) ako koristite [Display] -->
                                } *@
                            </select>
                        </div>
                    </div>

                    @*<PropertyColumn Property="@(x => x.Title)" Sortable="true" Class="">
                        <ColumnOptions>
                            <div class="search-box">
                                <input type="search" autofocus @bind="Search" @bind:event="oninput" placeholder="name.." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn> *@

                    <TemplateColumn Title="Title" Align="Align.Start">
                        @*<a class="me-2" href="admin/movie/@Uri.EscapeDataString(context.Title)/@(context.Year)">@context.Title</a>*@
                        <a class="ms-4 text-decoration-none text-white" style="cursor: pointer;"
                           @onclick="() => HandleSearch(context.TmdbId, context.Title, context.Year)">@context.Title</a>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.Year" Title="Year" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.Version" Title="Version" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.TmdbId" Title="TmdbId" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.Resolution" Title="Resolution" Align="Align.Center" Sortable="true" />

                    @if (App!.IsExpanded)
                    {
                        <PropertyColumn Property="x => x.Color" Title="Color" Align="Align.Center" Sortable="true" />
                    }

                    <PropertyColumn Property="x => x.Source" Title="Source" Align="Align.Center" Sortable="true" />

                    @if (App!.IsExpanded)
                    {
                        <PropertyColumn Property="x => x.Audio" Title="Audio" Align="Align.Center" Sortable="true" />
                        <PropertyColumn Property="x => x.Video" Title="Video" Align="Align.Center" Sortable="true" />
                    }

                    <PropertyColumn Property="x => x.Release" Title="Release" Align="Align.Center" Sortable="true" />

                    @if (App!.IsExpanded)
                    {
                        <PropertyColumn Property="x => x.TmdbTitle" Title="TmdbTitle" Align="Align.Center" Sortable="true" />
                        <PropertyColumn Property="x => x.TmdbImageUrl" Title="TmdbImageUrl" Align="Align.Center" Sortable="true" />
                        <PropertyColumn Property="x => x.ImdbId" Title="ImdbId" Align="Align.Center" Sortable="true" />
                    }
                </QuickGrid>
                <div class="quickgrid-pagination">
                    <Paginator State="PaginationState" />
                </div>
            </div>
        }

        @if (TmdbSearch is not null)
        {
            <div class="">
                <div class="m-3 d-flex justify-content-start align-items-center">
                    <button type="button" class="btn-close me-2" @onclick="() => TmdbSearch = null"></button>Close Search
                </div>

                @foreach (var movie in TmdbSearch.Results)
                {
                    <_SearchCardItem Movie="movie" />
                }
            </div>
        }

        @if (TmdbDetails is not null)
        {
            <div class="">
                <div class="m-3 d-flex justify-content-start align-items-center">
                    <button type="button" class="btn-close me-2" @onclick="() => TmdbDetails = null"></button>Close Details
                </div>

                <_Details Movie="TmdbDetails" />

            </div>
        }
    </div>
}

@code {
    [CascadingParameter] AppState? App { get; set; }

    List<Movie> Entities = new();
    string? Search;

    string SearchTmdb = string.Empty;
    TmdbSearchList? TmdbSearch;
    TmdbDetails? TmdbDetails;

    const string Title = "Movies";
    bool IsProcessing { get; set; } = true;

    readonly PaginationState PaginationState = new PaginationState { ItemsPerPage = 25 };



    protected override async Task OnInitializedAsync()
    {
        Entities = await Service.GetAllMoviesAsync(default);

        IsProcessing = false;
        StateHasChanged();
    }

    IQueryable<Movie> FilteredEntities
    {
        get
        {
            if (string.IsNullOrWhiteSpace(Search)) return Entities.AsQueryable();
            else return Entities.Where(x => x.Title.Contains(Search, StringComparison.OrdinalIgnoreCase)).AsQueryable();
        }
    }

    async Task HandleValidSubmit()
    {
        ArgumentNullException.ThrowIfNull(SearchTmdb);

        TmdbSearch = await TmdbService.SearchMoviesAsync(SearchTmdb);

        SearchTmdb = string.Empty;
        StateHasChanged();
    }

    async Task HandleSearch(int? tmdbId, string search, int? year)
    {
        if (tmdbId.HasValue) TmdbDetails = await TmdbService.GetMovieByIdAsync(tmdbId.Value);
        else TmdbSearch = await TmdbService.SearchMoviesAsync(search, year.ToString());

        SearchTmdb = string.Empty;
        StateHasChanged();
    }




    // protected override void OnInitialized()
    // {
    //     Entity = Service.ParseFilename("Iron.Man.2008.1080p.10bit.BluRay.8CH.x265.HEVC-PSA.mkv");
    //     IsProcessing = false;
    //     StateHasChanged();
    // }

    List<string> MovieFileNames = [
    "6.Underground.2019.1080p.10bit.WEBRip.6CH.x265.HEVC-PSA.mkv",
                                "2001.A.Space.Odyssey.1968.1080p.10bit.BrRip.6CH.x265.HEVC-PSA.mkv",
                                "2010 The Year We Make Contact 1984.mkv",
                                "A.Man.Called.Ove.A.K.A.En.man.som.heter.Ove.2015.SWEDISH.1080p.10bit.BluRay.6CH.x265.HEVC-PSA.mkv",
                                "Alien.1979.DIRECTOR'S.CUT.1080p.10bit.BluRay.6CH.x265.HEVC-PSA.mkv",
                                "Greyhound.2020.REPACK.1080p.10bit.WEBRip.6CH.x265.HEVC-PSA.mkv"
    ];
}
