@page "/admin/movies"
@using N10.Entities
@attribute [Authorize(Roles = "Admin")]
@inject IMovieService Service
@inject ITmdbService TmdbService

<title>@Title</title>

<_PageHeader Title="@Title" />

@if (IsProcessing || Entities is null)
{
    <_Loading />
}
else
{
    <div class="@App?.GetContentClass()">

        @if (SearchTerm is not null)
        {
            <EditForm Enhance Model=@SearchTerm OnValidSubmit=@HandleValidSubmit>
                <div class="mt-5 row justify-content-end">
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <InputText class="form-control" @bind-Value="SearchTerm" placeholder="find movie.." required />
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        }

        <div class="quickgrid-wrapper-sm table-responsive">
            <QuickGrid Class="table table-striped table-hover align-middle" Items="Entities.AsQueryable()" Pagination="PaginationState">

                @* <PropertyColumn Property="x => x.Title" Title="Title" Align="Align.Center" Sortable="true" /> *@



                <TemplateColumn Title="Title" Align="Align.Center">
                    @* <a class="me-2" href="admin/movie/@context.Title/@context.Year">@context.Title</a> *@
                    <a class="me-2" @onclick="() => HandleClick(context.Title)">@context.Title</a>
                </TemplateColumn>


                @*  <TemplateColumn Title="Title" Align="Align.Center">
                    <a class="me-2" href="admin/movie/@Uri.EscapeDataString(context.Title)/@(context.Year)">@context.Title</a>
                </TemplateColumn> *@


                <PropertyColumn Property="x => x.Year" Title="Year" Align="Align.Center" Sortable="true" />
                <PropertyColumn Property="x => x.VersionType" Title="VersionType" Align="Align.Center" Sortable="true" />
                <PropertyColumn Property="x => x.ResolutionType" Title="ResolutionType" Align="Align.Center" Sortable="true" />
                @if (App!.IsExpanded)
                {
                    <PropertyColumn Property="x => x.ColorDepthType" Title="ColorDepthType" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.SourceType" Title="SourceType" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.Audio" Title="Audio" Align="Align.Center" Sortable="true" />
                    <PropertyColumn Property="x => x.VideoCodec" Title="VideoCodec" Align="Align.Center" Sortable="true" />
                }
                <PropertyColumn Property="x => x.ReleaseGroup" Title="ReleaseGroup" Align="Align.Center" Sortable="true" />

            </QuickGrid>
            <div class="quickgrid-pagination">
                <Paginator State="PaginationState" />
            </div>
        </div>

        @if (TmdbSearch is not null)
        {
            foreach (var movie in TmdbSearch.Results)
            {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            @{
                                string ImageUrl = $"http://image.tmdb.org/t/p/w500{movie.PosterPath}";
                            }
                            <img src="@ImageUrl" class="img-fluid rounded-start" alt="cover" style="max-height: 200px;">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <a href="movie/@movie.Id"><h5 class="card-title">@movie.Title</h5></a>
                                <p class="card-text"><small class="text-body-secondary">@movie.ReleaseDate</small></p>
                                <p class="card-text">@movie.Overview</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}

@code {
    [CascadingParameter] AppState? App { get; set; }

    List<Movie> Entities = new();

    TmdbSearch? TmdbSearch;

    string SearchTerm = string.Empty;
    string Year = string.Empty;

    const string Title = "Movies";

    bool IsProcessing { get; set; } = true;

    readonly PaginationState PaginationState = new PaginationState { ItemsPerPage = 20 };


    protected override async Task OnInitializedAsync()
    {
        Entities = await Service.GetAllMoviesAsync();

        IsProcessing = false;
        StateHasChanged();
    }

    async Task HandleValidSubmit()
    {
        ArgumentNullException.ThrowIfNull(SearchTerm);

        TmdbSearch = await TmdbService.GetMovieAsync(SearchTerm, Year);

        SearchTerm = string.Empty;
        StateHasChanged();
    }

    async Task HandleClick(string searchTerm)
    {
        ArgumentNullException.ThrowIfNull(SearchTerm);

        TmdbSearch = await TmdbService.GetMovieAsync(searchTerm, Year);

        SearchTerm = string.Empty;
        StateHasChanged();
    }




    // protected override void OnInitialized()
    // {
    //     Entity = Service.ParseFilename("Iron.Man.2008.1080p.10bit.BluRay.8CH.x265.HEVC-PSA.mkv");
    //     IsProcessing = false;
    //     StateHasChanged();
    // }

    List<string> MovieFileNames = [
    "6.Underground.2019.1080p.10bit.WEBRip.6CH.x265.HEVC-PSA.mkv",
                                "2001.A.Space.Odyssey.1968.1080p.10bit.BrRip.6CH.x265.HEVC-PSA.mkv",
                                "2010 The Year We Make Contact 1984.mkv",
                                "A.Man.Called.Ove.A.K.A.En.man.som.heter.Ove.2015.SWEDISH.1080p.10bit.BluRay.6CH.x265.HEVC-PSA.mkv",
                                "Alien.1979.DIRECTOR'S.CUT.1080p.10bit.BluRay.6CH.x265.HEVC-PSA.mkv",
                                "Greyhound.2020.REPACK.1080p.10bit.WEBRip.6CH.x265.HEVC-PSA.mkv"
    ];
}
