<!-- Movie Card Component -->

<div class="card">
    <div class="card-image-container">
        <img src="@ImageUrl" class="card-img" alt="@Item?.Title" loading="lazy" @onclick="() => PlayInVlc(Item?.FileName)">
    </div>

    @* <div class="card-overlay"> *@
    <div class="">
        @if (Item?.Year is not null)
        {
            <div class="m-3 badge bg-transparent40 text-white position-absolute top-0 start-0"><span class="p">@Item.Year</span></div>
        }

        <div class="m-3 position-absolute top-0 end-0 d-flex flex-column align-items-end gap-1">
            @if (Item?.Version is not null)
            {
                <span class="badge text-warning bg-transparent20">@Item.Version</span>
            }

            @if (Item?.Resolution is not null)
            {
                <span class="badge @GetResolutionClass(Item.Resolution)">@ResolutionDisplay</span>
            }
        </div>

        <a href="/movie/@Item?.TmdbId" class="pb-2 h4 title-link position-absolute bottom-0 start-0 w-100 px-3 text-truncate" target="_blank">@Title</a>
    </div>
</div>


@code
{
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public MovieDto? Item { get; set; }

    string ImageUrl => string.IsNullOrEmpty(Item?.TmdbImageUrl) ? Globals.NoImage : $"{Globals.BaseTmdbImageUrl}{Item.TmdbImageUrl}";
    string Title => string.IsNullOrEmpty(Item?.TmdbTitle) ? Item?.Title ?? "Unknown" : Item.TmdbTitle;

    string GetResolutionClass(string? resolution)
    {
        return resolution?.ToLower() switch
        {
            "720p" => "resolution-720p",
            "1080p" => "resolution-1080p",
            "2160p" => "resolution-2160p",
            _ => "resolution-1080p"
        };
    }

    string? ResolutionDisplay => Item?.Resolution?.ToLower() switch
    {
        "720p" => "SD",
        "1080p" => "HD",
        "2160p" => "4K",
        _ => Item?.Resolution
    };

    async Task PlayInVlc(string? filename)
    {
        await App!.ShowToast($"Play: {Item.Title}", "success");

        if (string.IsNullOrEmpty(filename)) return;

        try
        {
            string mediaPath = Path.Combine(Globals.X265Path, filename);

            if (!File.Exists(mediaPath))
            {
                await App!.ShowToast($"File not found: {mediaPath}", "error");
                return;
            }

            var processInfo = new ProcessStartInfo
            {
                FileName = Globals.VlcPath,
                Arguments = $"\"{mediaPath}\"",
                UseShellExecute = false,
                CreateNoWindow = true
            };

            Process.Start(processInfo);
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Error starting VLC with file: {filename}", "error");
        }
    }
}