<!-- Movie Card Component -->

<div class="card">
    <div class="card-image-container">
        <img src="@(string.IsNullOrEmpty(Item.TmdbImageUrl) ? Globals.NoImage : $"{Globals.BaseTmdbImageUrl}{Item.TmdbImageUrl}")" class="card-img" alt="..."
             @onclick="() => PlayInVlc(Item.FileName)">
    </div>
    <!-- Hide Info / Isključio dok ne nabavim slike od filmova-->
    @* <div class="card-overlay"> *@
    <div class="">
        <div class="m-3 badge bg-white text-black position-absolute top-0 start-0"><span class="p">@Item.Year</span></div>

        @if (Item.Resolution is not null)
        {
            <div class="m-3 badge position-absolute top-0 end-0 @GetResolutionClass(Item.Resolution)">
                <span class="p">@GetResolutionDisplayText(Item.Resolution)</span>
            </div>
        }

        @* <a href="/movie/@Item?.TmdbId" class="card-title-link">
            <h4 class="m-3 position-absolute bottom-0 start-0 text-truncate">@Item.Title</h4>
        </a> *@
        
        <a href="/movie/@Item?.TmdbId" class="pb-2 h4 title-link position-absolute bottom-0 start-0 w-100 px-3 text-truncate">@Item.Title</a>
    </div>
</div>


@code
{
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public MovieDto? Item { get; set; }



    string GetResolutionClass(string? resolution)
    {
        return resolution?.ToLower() switch
        {
            "720p" => "resolution-720p",
            "1080p" => "resolution-1080p",
            "2160p" => "resolution-2160p",
            _ => "resolution-1080p"
        };
    }

    string GetResolutionDisplayText(string? resolution)
    {
        return resolution?.ToLower() switch
        {
            "2160p" => "4K",
            _ => resolution
        };
    }

    async Task PlayInVlc(string? filename)
    {
        await App!.ShowToast($"Startam: {Item.Title}", "success");

        if (string.IsNullOrEmpty(filename)) return;

        try
        {
            // Prilagodite putanju do vašeg media foldera
            string mediaPath = Path.Combine(Globals.X265Path, filename);

            if (!File.Exists(mediaPath))
            {
                // Logger?.LogWarning($"File not found: {mediaPath}");
                await App!.ShowToast($"File not found: {mediaPath}", "error");
                return;
            }

            var processInfo = new ProcessStartInfo
            {
                FileName = Globals.VlcPath,
                Arguments = $"\"{mediaPath}\"",
                UseShellExecute = false,
                CreateNoWindow = true
            };

            Process.Start(processInfo);
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Error starting VLC with file: {filename}", "error");
            //Logger?.LogError(ex, $"Error starting VLC with file: {filename}");
            // Možete dodati i neku notifikaciju za korisnika
        }
    }





}
@* <a href="/movie/@Item?.TmdbId">
        <img src="@(string.IsNullOrEmpty(Item.TmdbImageUrl) ? Globals.NoImage : Item.TmdbImageUrl)" class="card-img" alt="...">
    </a> *@