@inject OpenWeatherClient OpenWeatherClient

@if (OpenWeather is not null)
{
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h1 class="h4t">@($"{OpenWeather?.Main?.Temp}°C")</h1>
                    <h4 class="text-muted">@OpenWeather?.Name</h4>
                    <p class="small-font">Humidity <b>@(OpenWeather?.Main?.Humidity)</b> %</p>
                    <p class="small-font">Presure <b>@(OpenWeather?.Main?.Pressure)</b> hPa</p>
                    <p class="small-font">Wind Speed <b>@(OpenWeather?.Wind?.Speed)</b> m/s</p>
                </div>
                <div>
                    <div class="">
                        <img class="" src="@($"//openweathermap.org/img/wn/{OpenWeather?.Weather?.FirstOrDefault()?.Icon}@2x.png")" alt="Weather Icon" />
                        <div class="pt-5 text-end">
                            @foreach (var weather in OpenWeather?.Weather!)
                            {
                                <h2 class="m-0">@weather.Main</h2>
                                <h6 class="m-0">@weather.Description</h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public string City { get; set; } = "Požega";

    OpenWeatherModel? OpenWeather;
    

    protected override async Task OnParametersSetAsync() => OpenWeather = await OpenWeatherClient.GetWeatherAsync(City);
}