@page "/admin"
@attribute [Authorize(Roles = "Admin")]

@inject ApplicationDbContext Context
@* @inject IJSRuntime JsRuntime *@

<PageTitle>@Title</PageTitle>

<_PageHeader Title="@Title" />

@if (IsProcessing || Data is null)
{
    <_Loading />
}
else
{
    <div class="@App?.GetContentClass()">



        <div class="row">
            <div class="col-xl-3 col-md-6">
                <a href="weather"><_AWeather City="Požega" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="weather"><_AWeather City="Kingston" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="weather"><_AWeather City="Paris" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="weather"><_AWeather City="Melbourne" /></a>
            </div>
        </div>




        <div class="row">
            <div class="col-xl-3 col-md-6">
                <a href="admin/roles"><_IconComponent Icon="R" Title="Roles" Value="@Data.Roles" PredictedValue="5" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="admin/users"><_IconComponent Icon="U" Title="Users" Value="@Data.Users" PredictedValue="100" /></a>
            </div>
        </div>

        <canvas class="mt-3" id="ordersChartCanvas" width="400" height="100"></canvas>

        <div class="mt-5 row">
            <div class="col-xl-3 col-md-6">
                <a href="admin/roles"><_IconComponent Icon="NF" Title="Note Folders" Value="@Data.NoteFolders" PredictedValue="10" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="admin/users"><_IconComponent Icon="N" Title="Notes" Value="@Data.Notes" PredictedValue="100" /></a>
            </div>
        </div>
        <div class="mt-5 row">
            <div class="col-xl-3 col-md-6">
                <a href="admin/movies"><_IconComponent Icon="M" Title="Movies" Value="@Data.Movies" PredictedValue="1000" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="admin/movies"><_IconComponent Icon="MG" Title="Movies Genere" Value="@Data.MovieGeners" PredictedValue="50" /></a>
            </div>
            <div class="col-xl-3 col-md-6">
                <a href="admin/tvs"><_IconComponent Icon="TV" Title="TV Shows" Value="@Data.Movies" PredictedValue="100" /></a>
            </div>
        </div>
    </div>
}


@code {
    #region ---> START PAGE
    [CascadingParameter] AppState? App { get; set; }

    class DashboardData
    {
        public int Roles { get; set; }
        public int Users { get; set; }
        public int NoteFolders { get; set; }
        public int Notes { get; set; }
        public int Movies { get; set; }
        public int MovieGeners { get; set; }
    }

    DashboardData Data = new();

    // List<OrderChartDto> OrderCharts = new();

    const string Title = "Dashboard";

    bool IsProcessing { get; set; } = true;



    protected override async Task OnInitializedAsync() => await LoadDataAsync();

    async Task LoadDataAsync()
    {
        Data.Roles = await Context.Roles.AsNoTracking().CountAsync();
        Data.Users = await Context.Users.AsNoTracking().CountAsync();

        Data.NoteFolders = await Context.NoteFolders.AsNoTracking().CountAsync();
        Data.Notes = await Context.Notes.AsNoTracking().CountAsync();

        Data.Movies = await Context.Movies.AsNoTracking().CountAsync();
        Data.MovieGeners = await Context.MovieGenres.AsNoTracking().CountAsync();

        IsProcessing = false;
    }
    #endregion

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await Task.Delay(500);

    //         var dummyOrders = new List<OrderChartDto>
    //         {
    //             new OrderChartDto(DateTime.Now.AddDays(-50), 125.97m),
    //             new OrderChartDto(DateTime.Now.AddDays(-45), 332.96m),
    //             new OrderChartDto(DateTime.Now.AddDays(-40), 151.26m),
    //             new OrderChartDto(DateTime.Now.AddDays(-35), 315.96m),
    //             new OrderChartDto(DateTime.Now.AddDays(-30), 252.97m),
    //             new OrderChartDto(DateTime.Now.AddDays(-25), 105.97m),
    //             new OrderChartDto(DateTime.Now.AddDays(-20), 132.96m),
    //             new OrderChartDto(DateTime.Now.AddDays(-15), 251.26m),
    //             new OrderChartDto(DateTime.Now.AddDays(-10), 115.96m),
    //             new OrderChartDto(DateTime.Now.AddDays(-5), 172.97m)
    //         };

    //         OrderCharts.AddRange(dummyOrders);
    //         OrderCharts = OrderCharts.OrderByDescending(o => o.Date).ToList();

    //         if (OrderCharts.Any())
    //         {
    //             var labels = OrderCharts.Select(o => o.Date.ToString("dd-MM-yyyy")).ToArray();
    //             var totals = OrderCharts.Select(o => o.Total ?? 0).ToArray();

    //             await JsRuntime.InvokeVoidAsync("initializeOrdersChart", "ordersChartCanvas", labels, totals);
    //             StateHasChanged();
    //         }
    //     }
    // }
}