@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject AiService AiService
@inject NavigationManager Navigation

@if (Entity is not null)
{
    <div class="page @App?.GetContentClass()">
        <EditForm Model=@Entity OnValidSubmit=@HandleValidSubmit>
            <DataAnnotationsValidator />
            <!-- Buttons -->
            <div class="d-flex justify-content-end align-items-end gap-2">
                @if (AiPromptId != 0)
                {
                    <button class="btn btn-sm btn-warning rounded-pill" type="button" @onclick="ApplyAi" disabled="@IsAiBusy">
                        <span class="@(IsAiBusy ? "spinner-border spinner-border-sm me-2" : "")"></span><span>@(IsAiBusy ? "Working..." : "✨ AiGemma")</span>
                    </button>
                }
                @* <button class="btn btn-sm btn-warning rounded-pill" type="button" @onclick="ApplyAiMagic" disabled="@IsAiBusy">
                    <span class="@(IsAiBusy ? "spinner-border spinner-border-sm me-2" : "")"></span><span>@(IsAiBusy ? "Working..." : "✨ AI Magic")</span>
                </button> *@
                <button class="btn btn-sm btn-outline-secondary rounded-pill" @onclick="() => OnBack.InvokeAsync()">back</button>
                <button class="btn btn-lg btn-primary rounded-pill" type="submit">@Title</button>
            </div>
            <!-- Form -->
            <div class="mt-4 row">
                <!-- Left -->
                <div class="mt-2 col-12 col-md-4 h-100">
                    <div class="p-2 rounded bg-gradient">
                        <div class="px-2 d-flex justify-content-center">
                            <div class="">
                                <span class="ms-1 p-sm text-uppercase">Day</span>
                                <input type="number" @bind-value="@Entity.Day" class="form-control form-control-sm" />
                                <ValidationMessage For="() => Entity.Day" class="text-danger" />
                            </div>
                            <div class="">
                                <span class="ms-1 p-sm text-uppercase">Month</span>
                                <input type="number" @bind-value="@Entity.Month" class="form-control form-control-sm" />
                                <ValidationMessage For="() => Entity.Month" class="text-danger" />
                            </div>
                            <div class="">
                                <span class="ms-1 p-sm text-uppercase">Year</span>
                                <InputNumber @bind-Value="Entity.Year" class="form-control form-control-sm" />
                                <ValidationMessage For="() => Entity.Year" class="text-danger" />
                            </div>
                        </div>
                        <div class="mt-3 px-2">
                            <span class="ms-1 p-sm text-uppercase">Date</span>
                            <InputDate @bind-Value="Entity.Date" class="form-control form-control-sm" />
                            <ValidationMessage For="() => Entity.Date" class="text-danger" />
                        </div>
                    </div>
                    <div class="mt-3 p-2 rounded bg-gradient">
                        <div class="px-2">
                            <span class="ms-1 p-sm text-uppercase">Type</span>
                            <InputSelect class="form-select form-select-sm" @bind-Value="Entity.Type">
                                @foreach (var type in Enum.GetValues<ChronicleType>())
                                {
                                    <option value="@type">@type</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    @if (AiPromptTemplates is not null && AiPromptTemplates.Any())
                    {
                        <div class="mt-3 rounded bg-gradient">
                            <div class="p-2 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="ms-1 p-sm text-core">AiGemma</span>
                                    <button class="btn btn-sm btn-link text-decoration-none text-light" @onclick="() => ShowAiPrompt = !ShowAiPrompt">
                                        @(ShowAiPrompt ? "Hide 🔼" : "Show 🔽")
                                    </button>
                                </div>
                                <InputSelect @bind-Value="AiPromptId" class="form-select form-select-sm">
                                    @foreach (var item in AiPromptTemplates)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            @if (ShowAiPrompt && AiPromptTemplate is not null)
                            {
                                <div class="mt-2">
                                    <InputTextArea @bind-Value="AiPromptTemplate.Prompt" class="form-control bg-gradient" rows="20" style="font-size: 0.5rem;" />
                                </div>
                            }
                        </div>
                    }
                </div>
                <!-- Right -->
                <div class="p-2 col-12 col-md-8">
                    <div class="p-4 rounded border bg-transparent20">
                        <div class="mt-3 d-flex justify-content-between align-items-center">
                            <h5>Content Details</h5>
                            <div class="d-flex justify-content-end align-items-center">
                                <span class="p-sm me-2">Approved</span>
                                <InputCheckbox @bind-Value="Entity.IsApproved" class="form-check form-check-input" />
                            </div>
                        </div>
                        <div class="mt-3 d-flex justify-content-center align-items-center gap-4">
                            <div class="w-100">
                                <span class="ms-1 p-sm text-uppercase">Title</span>
                                <InputText @bind-Value="Entity.Title" class="form-control" placeholder="required.." required />
                                <ValidationMessage For="() => Entity.Title" class="text-danger" />
                            </div>
                        </div>
                        <div class="mt-4">
                            <span class="ms-1 p-sm text-uppercase">Original Content</span>
                            <InputTextArea @bind-Value="Entity.Content" class="form-control form-control-sm" rows="4" placeholder="required.." required />
                            <ValidationMessage For="() => Entity.Content" class="text-danger" />
                        </div>
                        <div class="mt-3">
                            <span class="ms-1 p-sm text-uppercase">Enhanced Content <span class="ms-2 text-core" type="button" @onclick="GetAiContent">✨ AI Magic</span>                            </span>
                            <InputTextArea @bind-Value="Entity.EnhancedContent" class="form-control" rows="6" />
                            <ValidationMessage For="() => Entity.EnhancedContent" class="text-danger" />
                        </div>
                        <div class="mt-3">
                            <span class="ms-1 p-sm text-uppercase">Note</span>
                            <InputText @bind-Value="Entity.Note" class="form-control form-control-sm" />
                            <ValidationMessage For="() => Entity.Note" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
        <div class="mt-4 row">
            @if (!string.IsNullOrEmpty(AiPromptTemplate?.Prompt))
            {
                <div class="col-12 col-md-6 h-100">
                    <div class="">
                        <span class="ms-1 p-sm">Send to AiGemma:</span>
                        <InputTextArea @bind-Value="AiPromptTemplate.Prompt" class="form-control bg-gradient" rows="40" style="font-size: 0.5rem;" />
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(GemmaResponse))
            {
                <div class="col-12 col-md-6 h-100">
                    <div class="">
                        <span class="ms-1 p-sm">AiGemma Response:</span>
                        <InputTextArea @bind-Value="GemmaResponse" class="form-control bg-gradient" rows="40" style="font-size: 0.5rem;" />
                    </div>
                </div>
            }
        </div>
    </div>
}



@code {
    [CascadingParameter] AppState? App { get; set; }

    [Parameter] public Chronicle? Entity { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }

    string Title => Entity?.Id == 0 ? "New" : "Update";
    bool IsAiBusy = false;

    async Task HandleValidSubmit()
    {
        await using var context = await ContextFactory.CreateDbContextAsync();

        try
        {
            if (Entity?.Id == 0) context.Chronicles.Add(Entity);
            else context.Chronicles.Update(Entity!);
            await context.SaveChangesAsync();
            await App!.ShowToast($"{Entity?.Title} {(Title == "New" ? "Add" : "Update")} to database!", "success");
            StateHasChanged();
            await OnBack.InvokeAsync();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to {(Title == "New" ? "Add" : "Update")} {Entity?.Title} to database: {ex.Message}", "error");
        }
    }

    async Task ApplyAiMagic()
    {
        if (string.IsNullOrWhiteSpace(Entity?.Content)) return;

        IsAiBusy = true;
        // StateHasChanged();

        string dateContext = Entity.Date.HasValue ? Entity.Date.Value.ToShortDateString() : $"{Entity.Day}. {Entity.Month}. {Entity.Year}.";
        var result = await AiService.AnalyzeAndEnhanceAsync(Entity.Content, dateContext);

        if (result != null)
        {
            Entity.Title = result.Title;
            Entity.EnhancedContent = result.EnhancedContent;
            if (Enum.IsDefined(typeof(ChronicleType), result.SuggestedTypeId)) Entity.Type = (ChronicleType)result.SuggestedTypeId;
        }

        IsAiBusy = false;
    }

    async Task GetAiContent()
    {
        if (Entity is null || string.IsNullOrWhiteSpace(Entity.Content))
        {
            await App!.ShowToast("Content is required to generate enhanced content.", "warning");
            return;
        }
        try
        {
            await App!.ShowToast("Generating enhanced content using AI...", "info");

            Entity.EnhancedContent = "Generiram...";
            Entity.EnhancedContent = await AiService.EnhanceChronicleTextAsync(Entity.Content);

            await App.ShowToast("Enhanced content generated successfully!", "success");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to generate enhanced content: {ex.Message}", "error");
        }
    }


    List<AiPromptTemplate>? AiPromptTemplates;
    AiPromptTemplate? AiPromptTemplate;
    int aiPromptId;
    int AiPromptId
    {
        get => aiPromptId;
        set
        {
            if (aiPromptId == value) return;
            aiPromptId = value;
            AiPromptTemplate = AiPromptTemplates?.FirstOrDefault(s => s.Id == value);
        }
    }

    bool ShowAiPrompt = true;
    string? GemmaResponse;

    protected override void OnParametersSet()
    {
        string currentYear = DateTime.Now.Year.ToString();
        string dateContext = Entity.Date.HasValue ? Entity.Date.Value.ToShortDateString() : $"{Entity.Day}. {Entity.Month}. {Entity.Year}.";

        AiPromptTemplates = PromptRepository.Templates;
        var defaultTemplate = AiPromptTemplates.FirstOrDefault();
        if (defaultTemplate != null)
        {
            AiPromptId = defaultTemplate.Id; // Ovo će okinuti setter i popuniti AiPromptTemplate
            AiPromptTemplate = defaultTemplate; // Ako setter ne okida kod inicijalizacije (ponekad), ručno popuni:
            AiPromptTemplate.Prompt = AiPromptTemplate?.Prompt.Replace("{{CURRENT_YEAR}}", currentYear).Replace("{{DATE}}", dateContext).Replace("{{CONTENT}}", Entity.Content) ?? "";
        }
    }

    async Task ApplyAi()
    {
        if (string.IsNullOrWhiteSpace(Entity?.Content)) return;
        if (string.IsNullOrWhiteSpace(AiPromptTemplate?.Prompt)) return;
        IsAiBusy = true;

        var result = await AiService.EnhanceWithGemmaAsync(AiPromptTemplate.Prompt);
        if (result != null)
        {
            GemmaResponse = result.ToString();
            Entity.Title = result.Title;
            Entity.EnhancedContent = result.EnhancedContent;
            if (Enum.IsDefined(typeof(ChronicleType), result.SuggestedTypeId)) Entity.Type = (ChronicleType)result.SuggestedTypeId;
            Entity.Note = result.InternalNote;
        }

        IsAiBusy = false;
    }
}