@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject AiService AiService
@inject NavigationManager Navigation

@if (Entity is not null)
{
    <div class="page @App?.GetContentClass()">
        <EditForm Model=@Entity OnValidSubmit=@HandleValidSubmit>
            <DataAnnotationsValidator />
            <!-- Buttons -->
            <div class="d-flex justify-content-end align-items-end gap-2">
                @if (AiPromptId != 0)
                {
                    <button class="btn btn-sm btn-outline-light rounded-pill" type="button" @onclick="ApplyAi" disabled="@IsAiBusy">
                        <span class="@(IsAiBusy ? "spinner-border spinner-border-sm me-2" : "")"></span>
                        <span>@(IsAiBusy ? "Working..." : "✨ AiMagic")</span>
                    </button>
                }
                @* <button class="btn btn-sm btn-warning rounded-pill" type="button" @onclick="ApplyAiMagic" disabled="@IsAiBusy">
                    <span class="@(IsAiBusy ? "spinner-border spinner-border-sm me-2" : "")"></span><span>@(IsAiBusy ? "Working..." : "✨ AI Magic")</span>
                </button> *@
                <button class="btn btn-sm btn-outline-secondary rounded-pill" @onclick="HandleBack">back</button>
                <button class="btn btn-lg btn-primary rounded-pill" type="submit">@Title</button>
            </div>
            <!-- Form -->
            <div class="mt-4 row">
                <!-- Left -->
                <div class="mt-2 col-12 col-md-4 h-100">
                    <div class="p-2 rounded bg-gradient">
                        <div class="px-2 d-flex justify-content-center">
                            <div class="">
                                <span class="ms-1 p-sm text-uppercase">Day</span>
                                <input type="number" @bind-value="@Entity.Day" class="form-control form-control-sm" />
                                <ValidationMessage For="() => Entity.Day" class="text-danger" />
                            </div>
                            <div class="">
                                <span class="ms-1 p-sm text-uppercase">Month</span>
                                <input type="number" @bind-value="@Entity.Month" class="form-control form-control-sm" />
                                <ValidationMessage For="() => Entity.Month" class="text-danger" />
                            </div>
                            <div class="">
                                <span class="ms-1 p-sm text-uppercase">Year</span>
                                <InputNumber @bind-Value="Entity.Year" class="form-control form-control-sm" />
                                <ValidationMessage For="() => Entity.Year" class="text-danger" />
                            </div>
                        </div>
                        <div class="mt-3 px-2">
                            <span class="ms-1 p-sm text-uppercase">Date</span>
                            <InputDate @bind-Value="Entity.Date" class="form-control form-control-sm" />
                            <ValidationMessage For="() => Entity.Date" class="text-danger" />
                        </div>
                        <div class="mt-3 px-2">
                            <span class="ms-1 p-sm text-uppercase">Type</span>
                            <InputSelect class="form-select form-select-sm" @bind-Value="Entity.Type">
                                @foreach (var type in Enum.GetValues<ChronicleType>())
                                {
                                    <option value="@type">@type</option>
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div class="mt-4 rounded bg-gradient">
                        <div class="p-2 px-3">
                            <span class="ms-1 p-sm">AiModel</span>
                            <InputSelect @bind-Value="SelectedModelId" class="form-select form-select-sm">
                                @foreach (var item in AiModelRepository.AiModels)
                                {
                                    <option value="@item">@item</option>
                                }
                                @* <option value="gemma-3-27b-it">Gemma 3 (Unlimited)</option>
                                <option value="gemini-2.0-flash-lite-preview-02-05">Gemini 2.0 Flash Lite (Smart)</option>
                                <option value="gemini-3-flash-preview">Gemini 3 Flash (20/day)</option> *@
                            </InputSelect>
                        </div>
                        @if (AiPromptTemplates is not null && AiPromptTemplates.Any())
                        {
                            <div class="p-2 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="ms-1 p-sm">AiPrompt</span>
                                    <span class="me-1 p-sm text-core" @onclick="() => ShowAiPrompt = !ShowAiPrompt" style="cursor: pointer;">
                                        @(ShowAiPrompt ? "Hide 🔼" : "Show 🔽")
                                    </span>
                                </div>
                                <InputSelect @bind-Value="AiPromptId" class="form-select form-select-sm">
                                    @foreach (var item in AiPromptTemplates)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            @if (ShowAiPrompt && !string.IsNullOrEmpty(DisplayPrompt))
                            {
                                <div class="mt-2">
                                    @* <InputTextArea @bind-Value="DisplayPrompt" class="pt-0 form-control bg-gradient" style="font-size: 0.5rem; field-sizing: content;" /> *@
                                    <InputTextArea @bind-Value="DisplayPrompt" class="pt-0 form-control bg-gradient" style="font-size: 0.5rem;" rows="46" />
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- Right -->
                <div class="p-2 col-12 col-md-8">
                    <div class="p-4 rounded border bg-transparent20">
                        <div class="mt-3 d-flex justify-content-between align-items-center">
                            <h5>Content Details</h5>
                            <div class="d-flex justify-content-end align-items-center">
                                <InputCheckbox @bind-Value="Entity.IsApproved" class="form-check form-check-input" />
                                <span class="p-sm ms-2 text-uppercase">Approved</span>
                            </div>
                        </div>
                        <div class="mt-3 d-flex justify-content-center align-items-center gap-4">
                            <div class="w-100">
                                <span class="ms-1 p-sm text-uppercase">Title</span>
                                <InputText @bind-Value="Entity.Title" class="form-control" placeholder="required.." required />
                                <ValidationMessage For="() => Entity.Title" class="text-danger" />
                            </div>
                        </div>
                        <div class="mt-4">
                            <span class="ms-1 p-sm text-uppercase">Original Content</span>
                            <InputTextArea @bind-Value="Entity.Content" class="form-control form-control-sm" rows="4" placeholder="required.." required />
                            <ValidationMessage For="() => Entity.Content" class="text-danger" />
                        </div>
                        <div class="mt-3">
                            <span class="ms-1 p-sm text-uppercase">Enhanced Content <span class="ms-2 text-core" type="button" @onclick="GetAiContent">✨ AI Magic</span>                            </span>
                            <InputTextArea @bind-Value="Entity.EnhancedContent" class="form-control" rows="6" />
                            <ValidationMessage For="() => Entity.EnhancedContent" class="text-danger" />
                        </div>
                        <div class="mt-3">
                            <span class="ms-1 p-sm text-uppercase">Note</span>
                            <InputText @bind-Value="Entity.Note" class="form-control form-control-sm" />
                            <ValidationMessage For="() => Entity.Note" class="text-danger" />
                        </div>
                    </div>
                    @if (ShowAiPrompt && !string.IsNullOrEmpty(AiResponse))
                    {
                        <div class="mt-3">
                            <div class="pt-2 rounded border bg-transparent20">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="ms-3 p-sm text-core">AiResponse:</span>
                                    <span class="me-3 p-sm">Model: @AiResult?.ModelName | AiThink: @AiResult?.Duration</span>
                                </div>
                                @* <InputTextArea @bind-Value="AiResponse" class="form-control form-control-sm" style="field-sizing: content;" /> *@
                                <InputTextArea @bind-Value="AiResponse" class="form-control form-control-sm" rows="15" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </EditForm>
    </div>
}


@code {
    [CascadingParameter] AppState? App { get; set; }
    [Parameter] public Chronicle? Entity { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }

    readonly Stopwatch Stopwatch = new();
    string Title => Entity?.Id == 0 ? "New" : "Update";

    bool ShowAiPrompt = true;
    bool IsAiBusy = false;

    List<AiPromptTemplate>? AiPromptTemplates;
    string DisplayPrompt = string.Empty;
    int aiPromptId;
    int AiPromptId
    {
        get => aiPromptId;
        set
        {
            if (aiPromptId == value) return;
            aiPromptId = value;
            RecalculatePrompt();
        }
    }

    string? SelectedModelId;
    string? AiResponse;
    AiResult? AiResult;


    protected override void OnInitialized() => AiPromptTemplates = PromptRepository.Templates;

    protected override void OnParametersSet()
    {
        if (Entity is null) return;

        AiResponse = null;
        AiResult = null;

        if (aiPromptId == 0)
        {
            aiPromptId = 2;
            RecalculatePrompt();
        }
        else RecalculatePrompt();
    }

    void RecalculatePrompt()
    {
        if (Entity is null) return;
        var template = AiPromptTemplates?.FirstOrDefault(t => t.Id == aiPromptId);
        if (template == null) return;

        string currentYear = DateTime.Now.Year.ToString();
        string dateContext = Entity.Date.HasValue ? Entity.Date.Value.ToShortDateString() : $"{Entity.Day}. {Entity.Month}. {Entity.Year}.";
        string prompt = template.Prompt.Replace("{{CURRENT_YEAR}}", currentYear).Replace("{{DATE}}", dateContext).Replace("{{CONTENT}}", Entity.Content);
        DisplayPrompt = prompt;
    }

    async Task ApplyAi()
    {
        if (string.IsNullOrWhiteSpace(Entity?.Content)) return;
        if (string.IsNullOrWhiteSpace(DisplayPrompt)) return;
        string? duration;
        // StartTimer(ref IsAiBusy);
        var timer = BusyMonitor.Start(ref IsAiBusy);

        var result = await AiService.EnhanceWithAiAsync(DisplayPrompt, SelectedModelId);
        if (!result.Success)
        {
            // duration = StopTimer(ref IsAiBusy);
            duration = timer.Stop(ref IsAiBusy);
            await App!.ShowNotify($"Ai failed to process the request: {result.Message}", "error", $"Ai need {duration}");
            return;
        }

        // duration = StopTimer(ref IsAiBusy);
        duration = timer.Stop(ref IsAiBusy);
        AiResult = result.Data;
        AiResult?.Duration = duration;

        // OVO JE TRIK: Pretvorimo cijeli objekt (sa statistikom) natrag u lijepi string
        AiResponse = JsonSerializer.Serialize(result.Data, new JsonSerializerOptions { WriteIndented = true, Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping });

        Entity.Title = result?.Data?.Title;
        Entity.EnhancedContent = result?.Data?.EnhancedContent;
        if (Enum.IsDefined(typeof(ChronicleType), result?.Data?.SuggestedTypeId)) Entity.Type = (ChronicleType)result?.Data?.SuggestedTypeId;
        Entity.Note = result?.Data?.InternalNote;

        await App!.ShowNotify($"AiModel: {result?.Data.ModelName} | Tokens: {result?.Data.ResponseTokens}", "success", $"AiThink {duration}");
    }

    async Task HandleValidSubmit()
    {
        await using var context = await ContextFactory.CreateDbContextAsync();

        try
        {
            if (Entity?.Id == 0) context.Chronicles.Add(Entity);
            else context.Chronicles.Update(Entity!);
            await context.SaveChangesAsync();
            await App!.ShowToast($"{Entity?.Title} {(Title == "New" ? "Add" : "Update")} to database!", "success");
            StateHasChanged();
            await OnBack.InvokeAsync();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to {(Title == "New" ? "Add" : "Update")} {Entity?.Title} to database: {ex.Message}", "error");
        }
    }

    async Task HandleBack()
    {
        AiResponse = null;
        AiResult = null;
        DisplayPrompt = string.Empty;
        aiPromptId = 0;

        await OnBack.InvokeAsync();
    }

    #region Some old AI Magic (not used)
    async Task ApplyAiMagic()
    {
        if (string.IsNullOrWhiteSpace(Entity?.Content)) return;

        IsAiBusy = true;
        // StateHasChanged();

        string dateContext = Entity.Date.HasValue ? Entity.Date.Value.ToShortDateString() : $"{Entity.Day}. {Entity.Month}. {Entity.Year}.";
        var result = await AiService.AnalyzeAndEnhanceAsync(Entity.Content, dateContext);

        if (result != null)
        {
            Entity.Title = result.Title;
            Entity.EnhancedContent = result.EnhancedContent;
            if (Enum.IsDefined(typeof(ChronicleType), result.SuggestedTypeId)) Entity.Type = (ChronicleType)result.SuggestedTypeId;
        }

        IsAiBusy = false;
    }

    async Task GetAiContent()
    {
        if (Entity is null || string.IsNullOrWhiteSpace(Entity.Content))
        {
            await App!.ShowToast("Content is required to generate enhanced content.", "warning");
            return;
        }
        try
        {
            await App!.ShowToast("Generating enhanced content using AI...", "info");

            Entity.EnhancedContent = "Generiram...";
            Entity.EnhancedContent = await AiService.EnhanceChronicleTextAsync(Entity.Content);

            await App.ShowToast("Enhanced content generated successfully!", "success");
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"Failed to generate enhanced content: {ex.Message}", "error");
        }
    }
    #endregion

    #region Timer
    // void StartTimer(ref bool workingFlag)
    // {
    //     workingFlag = true;
    //     Stopwatch.Restart();
    // }

    // string StopTimer(ref bool workingFlag)
    // {
    //     Stopwatch.Stop();
    //     workingFlag = false;
    //     var ms = Stopwatch.ElapsedMilliseconds;
    //     return ms > 1000 ? $"{ms / 1000.0:F2} s" : $"{ms} ms";
    // }
    #endregion

}