@inject MetaService MetaService
@inject IJSRuntime JS

<!-- Post Modal Component -->
<div class="modal fade @ShowClass" style="display: @(Chronicle is not null ? "block" : "none"); background: rgba(0,0,0,0.50); backdrop-filter: blur(4px);" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">

        <div class="modal-content text-white border-0 bg-transparent">

            <!-- 1. HEADER -->
            <div class="modal-header d-flex justify-content-between align-items-center border-0 w-100">
                <button type="button" class="btn btn-outline-secondary rounded-circle p-2" style="width: 40px; height: 40px;" @onclick="Close"><i class="bi bi-x-lg"></i></button>

                <button type="button" class="btn btn-primary rounded-pill px-3 fw-bold" @onclick="@(string.IsNullOrEmpty(PreviewImageSrc) ? GenerateImage : PostToFacebook)">
                    @(string.IsNullOrEmpty(PreviewImageSrc) ? "Generate Image" : "Post to Facebook")
                </button>

                @* <button type="button" class="btn btn-warning rounded-pill px-4 fw-bold" @onclick="PostToFacebook">POST <i class="bi bi-send-fill ms-2"></i></button> *@
            </div>

            <!-- 2. BODY (Tekst) -->
            <div class="p-0 pb-0 modal-body">
                <InputTextArea @bind-Value="PostText" class="form-control bg-dark-subtle text-white border-0 p-4" rows="12"></InputTextArea>
            </div>

            <!-- 3. FOOTER (Preview Slike) -->
            <div class="mt-4 d-flex justify-content-center align-items-center">

                @if (!string.IsNullOrEmpty(PreviewImageSrc))
                {
                    <div class="text-center">
                        <p class="small mb-2">Jpeg</p>
                        <img src="@PreviewImageSrc" class="img-fluid" />
                    </div>
                }
                else if (Chronicle is not null)
                {
                    <div class="text-center">
                        <p class="small mb-2">HTML</p>
                        <div id="capture-target" class="p-4 text-start">
                            <N10.Pages.Chronicles._ChronicleCard Item="Chronicle" Share="false" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] AppState? App { get; set; }
    [Parameter] public Chronicle? Chronicle { get; set; }

    string ShowClass => Chronicle is not null ? "show d-block" : string.Empty;
    string PostText = string.Empty;

    string PreviewImageSrc = string.Empty; // Ovdje spremamo Base64 string za prikaz
    byte[]? ImageBytes = null; // Ovdje spremamo bajtove slike za slanje na Facebook

    protected override void OnParametersSet()
    {
        if (Chronicle is null) return;

        var sb = new StringBuilder();
        sb.AppendLine("POŽEŠKI VREMEPLOV - DOGODILO SE NA DANAŠNJI DAN");
        sb.AppendLine("autor: Tomislav Wittenberg");
        sb.AppendLine("");
        sb.AppendLine($"📜 {Chronicle.Title}");
        sb.AppendLine("");
        sb.AppendLine(string.IsNullOrEmpty(Chronicle.EnhancedContent) ? Chronicle.Content : Chronicle.EnhancedContent);
        sb.AppendLine("");
        sb.AppendLine("#Požeški #Vremeplov #Wittenberg #Požega #Povijest #Baština");

        PostText = sb.ToString();
        PostText = PostText.TrimEnd();
    }

    async Task GenerateImage()
    {
        // 1. Učitaj modul (s onim trikom protiv cache-a)
        await using var jsModule = await JS.InvokeAsync<IJSObjectReference>("import", $"./Admin/Chronicles/_Post.razor.js?v={DateTime.Now.Ticks}");

        try
        {
            // 2. DOHVATI STREAM REFERENCU (Ne ruši SignalR!)
            var dataReference = await jsModule.InvokeAsync<IJSStreamReference>("getCardImageStream", "capture-target");

            // 3. OTVORI STREAM I ČITAJ (Limit 10MB)
            using var dataStream = await dataReference.OpenReadStreamAsync(maxAllowedSize: 10 * 1024 * 1024);

            using var ms = new MemoryStream();
            await dataStream.CopyToAsync(ms);

            // 4. SPREMI BAJTOVE
            byte[] bytes = ms.ToArray();

            if (bytes.Length > 0)
            {
                ImageBytes = bytes;
                var base64 = Convert.ToBase64String(bytes);
                PreviewImageSrc = $"data:image/jpeg;base64,{base64}";
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            await App!.ShowToast($"GREŠKA KOD SLIKANJA: {ex.Message}", "error");
        }
    }

    async Task PostToFacebook()
    {
        if (ImageBytes is null) await GenerateImage();
        if (ImageBytes is not null)
        {
            var result = await MetaService.PostToFacebookAsync(PostText, ImageBytes);

            if (result.Success)
            {
                await App!.ShowToast("Objava uspješno poslana!", "success");
                Close();
            }
            else await App!.ShowToast("Error: " + result.Message, "error");
        }
    }

    void Close()
    {
        Chronicle = null;
        PostText = string.Empty;

        PreviewImageSrc = string.Empty;
        ImageBytes = null;
    }
}